* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

header {
  background-color: #4ea0ff;
  background-image: url(../img/pattern.png);
  background-repeat: repeat;
  background-size: 450px;
}

/* logo sizing */
header > img {
  max-height: 80px;
  margin: 30px 10px 10px 10px;
}

section {
  margin: 5px;
}

h1 {
    font-size: 4.5rem;
    font-weight: 900;
  }

address{
    font-size: 2rem;
    font-style: normal;
    color: #7c7c7c;
    line-height: 30px;
}

address > a{
    text-decoration: none;
    color: #29ace5;
}

.images {
    height: 650px
}

p{
    font-size: 1.5rem;
    margin-top: 2rem;
}

ul{
    font-size: 1.5rem;
    margin-top: 2rem;
    padding-left: 25px;
}

table {
    margin-top: 2rem;
    font-size: 1.5rem;
    border: none;
    font-weight: 550;
    

}
thead{
    font-style: none;
    text-align: left;
    color: #ffffff;

}

.bg-blue{
    background-color: #20a9e5 ;
}
.bg-lblue{
    background-color: #b1e5f2 ;

}

.w25{
    width: 25%;
}

.highlight{
    background-color: #ffff00;
}

.tsmall{
    font-size: 1.3rem;
}

footer{
    margin: 5 px;
}

h3{
    color: #7c7c7c;
    padding: 5px;
    font-size: 2rem;
}
.card{
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 250px;
    font-size: 2rem;
    color: #ffffff;
    margin:10px;
    padding: 15px;
    font-weight: 800;
    
}

.bgimgone{
    background-image: url(../img/monitor.jpg);
}
.bgimgtwo{
    background-image: url(../img/graph.jpg);
}

